<!DOCTYPE html>
<html>
  <head>
    <title>Ember-Sinatra</title>
  </head>
  <body>
    <h1></h1>

    <script type="text/x-handlebars" data-template-name="application">
      {{ message }}
    </script>

    <script src="assets/javascripts/app.js"></script>
  </body>
</html>
